#main.game {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main.game.waitingScreen{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#gameInfos {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    margin-top: 4vh;
    width: 15vw;
}

#gameInfos .joueur {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 2em;
}

#information {
    text-align: center;
    padding: 1rem;
    font-size: 2em;
}

#information span.joueurCourant {
    font-weight: bold;
}

#damier {
    margin-top: 4vh;
}

#damier table {
    width: 100%;
    border-spacing: 0;
}

#damier table tr {
    width: 100%;
}

td.case {
    height: 10vh;
    width: 10vh;
}

td.case.border {
    background-color: #492d22;
    color: #ffd89b;
    text-align: center;
    height: 5vh;
    width: 5vh;
}

td.case.brown {
    background-color: #68432f;
}

td.case.beige {
    background-color: #ffd89b;
}

td.case.brown.possibleMove,
td.case.white.possibleMove {
    background-color: green;
}

td.case.brown.possibleMove.take,
td.case.white.possibleMove.take {
    background: orange;
}

@media (max-width:600px) {
    #damier {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}