.pion, .dame {
    height: 50px;
    width: 100%;
}

.pion.noir .s0, .dame.noir .s0, .dame.noir .s1 {
    fill: #282828;
    stroke: #000000;
}

.pion.blanc .s0, .dame.blanc .s0, .dame.blanc .s1 {
    fill: #ffffff;
    stroke: #000000;
}