.pion {
    border-radius: 50%;
    height: 50px;
    width: 100%;
}

.pion.noir {
    background-color: black;
}

.pion.blanc {
    background-color: white;
}

.dame {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
}
.noir .dame {
    color: white;
}